.choose {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
select {
    height: 50px;
    outline: none;
    font-size: 30px;
    border: none;
}
.text-view {
    font-size: 40px;
    border: none;
    width: 50%;
    outline: none;
    padding-left: 200px;
    text-align: right;
    background-color: transparent;
    border-bottom: gray;
}
table {
    border-collapse: collapse;
    background-color: #63a4ff;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background: lightblue;
}
.calculator {
    margin: 100px auto;
    width: 728px;
    height: auto;
    box-shadow: 0 15px 28px rgba(0, 0, 0, 75);
    border-radius: 10px;
}
.header {
    height: 200px;
    padding: 30px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
}
.changeButtons {
    text-align: left;
}
.button-box {
    height: auto;
}
.buttons, .buttons-big {
    border: none;
    outline: none;
}
.buttons {
    width: 170px;
    height: 91px;
    background-color: #63a4ff;
    font-size: 25px;
}
.buttons-big {
    width: 210px;
    height: 190px;
    font-size: 60px;
    background-color:rgb(35, 161, 109);
    color: white;
}
.buttons:hover, .buttons-big:hover {
    filter: brightness(70%);
}
.change {
    border-radius: 50px;
    width: 70px;
    height: 50px;
    background-color: crimson;
    border: none;
    color: white;
    outline: none;
}
.buttons:nth-child(10), .buttons:nth-child(11) {
    width: 255px;
}
#clear {
    height: 190px;
    width: 210px;
    font-size: 60px;
}
#zero {
    width: 100%;
}